body {
    margin:0px;
	font-family: Georgia, "Times New Roman", Palatino, Times;
	font-size: 14px;
	color: #2f1f3c;
    text-align: center;
}
img {border:0;}
.headerwrap {
	width:100%;
	background-color: #3a2c43;
}
#header {
	height:130px;
	color: #FFF;
	background-color: #3a2c43;
}

#header a {
  color: #FFF;
}
#logo {
    width:282px;
    height:130px;
    float:left;
    left:0;
}

#myaccount {
    float:right;
}
.menusearchwrap {
	width:100%;
	background-color: #c6c4c7;
}
#menusearch {
	height: 62px;
	background-color: #c6c4c7;
}
#menu { 
	height:62px;
	display:inline;
}
#search {
	height: 62px;
	display: inline;
}
.slider {
	border: solid 1px #c6c4c7;
	color: #c6c4c7;
    font-size:40px;
	margin: 20px 0px;
	text-align: center;
}

.section {
	font-family: "lucida sans";
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #2f1f3c;
	background-color: #c6c4c7;
	padding: 4px;
}
h2 {
	font-family: "lucida sans";
	text-transform: uppercase;
	color: #2f1f3c;
	background-color: #c6c4c7;
}
.col1 {
	float:left;
}
.col2 {
	float:right;
}

.list {
  float:left;
  width:300px;
  border: 1px solid #DDD;
}