<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Rennes On Rails</title>
    <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', '960', 'screen' %>
  </head>

  <body>
    <div class="headerwrap">
      <div id="header" class="container">
        <div id="logo" class="grid_6">Logo</div>
        <div id="myaccount" class="grid_6">
          <%= render "/shared/header" %>
        </div>
      </div>
    </div>
    <div class="menusearchwrap">
      <div id="menusearch" class="container">
        <div id="menu">
          Menu bar
        </div>
        <div id="search">
          Search bar
        </div>
      </div>
    </div>

    <div id="main" class="container">

      <div class="slider">Items slider</div>

      <%= display_flash %>
      <%= yield %>
      <div class="grid_6">Colonne de gauche</div>
      <div class="grid_6">Colonne de droite</div>
    </div>




  </body>
</html>
